<div class="Container">
 <mat-toolbar id="toolbar">
    <div>Busca información sobre tus heroes favoritos</div>
    <div class="inputSearch">
      <mat-form-field class="searchArtist" appearance="fill"> 
        <input matInput type = "text " placeholder="Ingrese el nombre" [(ngModel)]  = "search" class="searchArtist">
      </mat-form-field>
      <button mat-button class="searchButtom" (click)= "generateHeros()">
        <span class="material-icons" id="icons">search</span>
      </button>   
    </div>  
 </mat-toolbar>
  
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Bando Column -->
    <ng-container matColumnDef="bando">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bando </th>
      <td mat-cell *matCellDef="let element"> {{element.biography.alignment}} </td>
    </ng-container>

    <!-- Editorial Column -->
    <ng-container matColumnDef="editorial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Editorial </th>
      <td mat-cell *matCellDef="let element"> {{element.biography.publisher}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button class="ButtomActions" (click)= "openDialogGeneralInfo(element.id)">
          <span class="material-icons" id="icons2">info</span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 </table>

</div>   
