<div class="Container">
 <!-- <mat-toolbar id="toolbar">
    <div>Busca información sobre tus heroes favoritos</div>
    <div class="inputSearch">
      <mat-form-field class="searchArtist" appearance="fill"> 
        <input matInput type = "text " placeholder="Ingrese el nombre" [(ngModel)]  = "search" class="searchArtist">
      </mat-form-field>
      <button mat-button class="searchButtom" (click)= "generateHeros()">
        <span class="material-icons" id="icons">search</span>
      </button>   
    </div>  
 </mat-toolbar> -->

 <div style="text-align: center;">
  <mat-card class="example-card">
    <mat-card-header style="justify-content: center;">
      <mat-card-title>Meta-humanos DB</mat-card-title>
      <mat-card-subtitle>
        Busca información sobre tus heroes favoritos
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="position: absolute; margin-left: 20px;">
        <mat-form-field appearance="fill" style="width: 420px;"> 
          <input matInput type = "text " placeholder="Ingrese el nombre" [(ngModel)]  = "search">
        </mat-form-field> 
    </mat-card-content>
    <mat-card-actions style="margin-left:300px; margin-bottom: 20px;">
      <button mat-button class="searchButtom" (click)= "generateHeros()">
        <span class="material-icons" id="icons">search</span>
      </button> 
    </mat-card-actions>
  </mat-card>
</div>
  
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="text-align: center; margin-bottom: 100px;">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Bando Column -->
    <ng-container matColumnDef="bando">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bando </th>
      <td mat-cell *matCellDef="let element"> {{element.biography.alignment}} </td>
    </ng-container>

    <!-- Editorial Column -->
    <ng-container matColumnDef="editorial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Editorial </th>
      <td mat-cell *matCellDef="let element"> {{element.biography.publisher}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button class="ButtomActions" (click)= "openDialog(element.id)">
          <span class="material-icons" id="icons2">info</span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 </table>

</div>   
