<mat-card class="example-card">
  <div style="content-visibility: auto;">
    <mat-card-header style="margin-top: 10px;">
      <mat-card-title style="font-weight: bolder;">Apariencia de {{name}} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <b>Género:</b> {{gender}}<br>
      <b>Color de ojos:</b> {{eyeColor}}<br>
      <b>Color de pelo:</b> {{hairColor}}<br>
      <b>Altura:</b> {{altura}}<br>
      <b>Peso:</b> {{peso}}<br>
      <b>Raza:</b> {{race}}<br>      
    </mat-card-content>
  </div>
</mat-card>
